<html>
    <head>
        <title>Deleted All Contacts</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Address Book Cleared!</h1>
            <p><a href='/'>Back to contact page</a></p>
        </div>
    </body>
</html>
